<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/rent-property">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/add-property">Add House</a>
        </li>
        
        
      </ul>
    </div>
    <div class=" collapse navbar-collapse m-l-3" id="navbarNavDropdown" >
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/user-login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/user-registration">Registration</a>
        </li>
      
        
        
      </ul>
    </div>
  </div>
  </nav>