<div class="card">
    <div class="card-header">
        Add New Property
    </div>
<div class="card-body">
    <form (ngSubmit)='onSubmit()' #Form="ngForm" >
        <div class="form-group-col-12">
            <label for="name">Name</label>
            <input type="text" class="form-control" ngModel name="propName" required minlength="5" #propName="ngModel">
            <span *ngIf="propName.invalid && (propName.dirty || propName.touched)" class="error-block">
                <span *ngIf="propName.hasError('required')">Please provide a name</span>
                <span *ngIf="propName.hasError('minlength')">Name must be at least 5 characters long</span>
            </span>
        </div>
        <div class="form-group-col-12">
            <label for="type">Type</label>
            <input type="text" class="form-control" ngModel name="Type" required>
        </div>
        <div class="form-group-col-12">
            <label for="price">Price</label>
            <input type="text" class="form-control" ngModel name="Price" required>
        </div>
        <div class="form-group-col-12">
           <button [disabled]="!Form.valid" type="submit" class="btn btn-primary m-2">Submit</button>
           <button type="reset" class="btn btn-primary ">Cancel</button>
        </div>
    </form>
</div>
</div>